body {
  margin: 0;
  padding: 0;
  width: 1440px;
  background: hsl(212, 45%, 89%);
}
.container {
  border: 2px solid hsl(0, 0%, 100%);
  width: 25%;
  border-radius: 30px;
  background: hsl(0, 0%, 100%);
  margin-left: 500px;
  margin-top: 50px;
}

.container p {
  font-size: i5px;
  color: hsl(220, 15%, 55%);
  margin-left: 55px;
  font-weight: 400;
  margin-right: 45px;
}

.container h3 {
  color: hsl(218, 44%, 22%);
  margin-left: 45px;
  font-weight: 700;
  font-size: 20px;
  margin-right: 75px;
  display: flex;
  place-items: center;
}

img {
  margin-left: 40px;
  margin-top: 15px;
  width: 80%;
}
.attribution {
  margin-left: 55px;
}
